:root {
    --background: #eeece5;

    --brown_primary: #2e1e12;
    --brown_darker: #261f1b;
    --brown_darkest: #212121;

    --green_primary: #076727;
    --green_darkest: #073d11;
    --green_dark: #0a531b;
    
    --blue: #9bdaf1;
    --light_blue: #e1f3f8;

    --red_secondary: #e31c3d;
    --red_darkest: #981b1e;
    --red_dark: #cd2026;
    --red_light: #e59393;
    --red_lightest: #f9dede;

    --fs_gold: #ffc425;
}

/* base */
body {
    font-family: 'Playfair Display', serif;
    background: var(--background) url("/static/img/sf_logo4.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
}

header {
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    display: flex;
}

a {
    text-decoration: none;
}

h1.text-center {
    color: black;
    background-color: var(--background);
}

h1 {
    color: black;
}

.su1 {
    background-color: var(--background); 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    margin-bottom: -6px;
}

p {
    color: black;
}

    /* login form */
form {
    color: black;
    background-color: var(--background);  
    border-radius: 10px; 
}

.prof-form {
    margin: 3rem 5rem;
    padding-bottom: 2rem;
}

.fas, .far {
    color: var(--green_dark);
    text-decoration: none
}

.fas:hover, .far:hover {
    color: var(--green_darkest)
}

.fa-trash-alt:hover {
    color: var(--red_dark)
}

.navbar {    
    background-color: var(--green_primary);
    border-bottom: 2px solid var(--green_primary);
    margin-bottom: 2rem;
    display: flex;
}

.navbar-brand {
    color:var(--fs_gold);
}

.navbar-brand:hover {
    color:var(--fs_gold);
}

.pa_1 {
    color:var(--fs_gold);
}

.pa_1:hover {
    color:white;
}

.pa_1:focus {
    color: var(--fs_gold);
}

.pa_2 {
    background-color:var(--background);
}

.pa_2:hover {
    color: black;
}

.cf_1 {
    background-image:url("/static/img/oregon.jpeg") no-repeat;
    font-family: 'Playfair Display', serif;
    background: white;
    background-size: cover;
}

    /* profile */
.pw_1 {
    color: var(--fs_gold);
    margin-right: 8rem;
}

.pw_1:hover {
    color: white;
}

.pw_1:focus {
    color: var(--fs_gold);
}

/* flight_new (table) */
.container {
    text-align: center;
    background-color: var(--background);
}

.th1 {
    color: black;
    background-color: var(--background);
}

.thead-fs {
    color: white;
}

.table-fs {
    background-color: var(--green_dark);
}

.table-fs-break {
    background-color: var(--green_primary)
}

.s1 {
    cursor: pointer;
    padding: 5px;
    background: var(--background);
    color: black;    
}

.edit1 {
    cursor: pointer;
    padding: 5px;
    background: var(--background);
    color: black; 
}

.delete1 {
    cursor: pointer;
    padding: 5px;
    background: var(--background);
    color:  red; 
}

/* login */
    /* table div container */
.a1 {
    color: black;
    background-color: var(--background);   
    border-radius: 10px; 
    opacity: 0.9;
}

    /* submitt btn */
.a2 {
    color: black;
    background-color: var(--background); 
    border: var(--background);
    *opacity: 0.9;
}

/* currency_details (table) */
.table-secondary {
    background-color: black;
}

    /* not being used? */
.b2 {
    color: white;
}

/* profile (account) */
.prof2 {
    color: black;
    background-color: var(--background);
}

.profbn {
    color: white;
}

.btn {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.cancel_btn {
    background-color: var(--brown_primary);
    color: white;
}

.cancel_btn:hover {
    background-color: var(--brown_darkest);
    color: white;
}

.submit_btn {
    background-color: var(--green_primary);
    color: white;
}

.submit_btn:hover {
    background-color: var(--green_dark);
    color: white;
}
.delete_btn {
    background-color: var(--red_dark);
    color: white;
}

.delete_btn:hover {
    background-color: var(--red_darkest);
    color: white;
}

.new-flt-page {
    padding: 1rem;
}

.new-flt-hd {
    font-size: .9rem;
}

#id_date_of_flight {
    width: 7.8rem;
    font-size: .8rem;
}

#id_tail_number {
    width: 4rem;
    font-size: .8rem;
}

#id_depart_ICAO {
    font-size: .8rem;
}

#id_arrival_ICAO {
    font-size: .8rem;
}

#id_msn_type {
    font-size: .8rem;
    width: 7rem;
}

#id_pic_time {
    font-size: .8rem;
    width: 2.6rem;
}

#id_sic_time {
    font-size: .8rem;
    width: 2.6rem;
}

#id_instructor_time {
    font-size: .8rem;
    width: 2.6rem;
}

#id_act_instrument_time {
    font-size: .8rem;
    width: 2.6rem;
}

#id_sim_instrument_time {
    font-size: .8rem;
    width: 2.6rem;
}

#id_instrument_appchs {
    font-size: .8rem;
    width: 1.9rem;
}

#id_holds {
    font-size: .8rem;
    width: 1.9rem;
}

#id_day_landings {
    font-size: .8rem;
    width: 1.9rem;
}

#id_night_time {
    font-size: .8rem;
    width: 2.6rem;
}

#id_night_landings {
    font-size: .8rem;
    width: 1.9rem;
}

#id_remarks {
    font-size: .9rem;
    height: 4rem;
    width: 100%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        width:auto;
        margin-left:auto;
        margin-right:auto;
    }

    .text-section {
        width: 28rem;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 768px) {
    body {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }    
} 

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {
    body {
        width: 70%;
        margin-left:auto;
        margin-right:auto;
    }

    .text-section {
        width: 28rem;
    }
} 

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
    body{
        display: 60%;
    }
}

@media only screen and (min-width: 600px) {
    body{
        display: 50%;
    }
}

@media screen and (prefers-reduced-motion: reduce) {  
    * {
    /* Very short durations means JavaScript that relies on events still works */
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
    }
}





