{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">       
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">        
        
        <link
            href="{% static 'css/base.css' %}"
            rel="stylesheet">

        <title>
            {% block title %}FS_Currency_Tracker{% endblock title %}
        </title>
    {% block additional_styles %}
    <style>
        
    </style>
{% endblock %}
    </head>
    <body>   
        <nav class="navbar navbar-expand-lg navbar-nb2">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Forest Service Flight Log</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle pa_1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                                Pilot Actions
                            </a>
                            <ul class="dropdown-menu navbarDropdown">
                                <li><a class="dropdown-item pa_2" href="{% url 'flight_new' %}">Create Flight</a></li>
                                <li><a class="dropdown-item pa_2" href="{% url 'flight_list' %}">View All Flights</a></li>
                                <li><a class="dropdown-item pa_2" href="{% url 'currency_detail' %}">Currency Detail</a></li>
                            </ul>
                        </li>
                        {% if user.is_supervisor %}
                        &emsp;&emsp;&emsp;&emsp;
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle pa_1" href="#" id="SupDropdown" role="button" data-bs-toggle="dropdown">
                                Supervisor Actions
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="SupDropdown">
                                <li><a class="dropdown-item pa_2" href="{% url 'signup' %}">Create User</a></li>
                                <li><a class="dropdown-item pa_2" href="{% url 'currency_board' %}">View Subordinate List</a></li>
                                <li><a class="dropdown-item pa_2" href="{% url 'currency_status' %}">Status Board</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav flex-row-reverse">
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle pw_1" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown">
                                {{ user.get_full_name }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                <li><a class="dropdown-item" href="{% url 'profile' user.id %}">Update Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'password_change' %}">Change My Passwword</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                            </ul>
                        </li>
                    </ul>

                    {% else %}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">

                        </li>
                    </ul>
                    <ul class="navbar-nav flex-row-reverse">
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle pw_1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                                Account
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'login' %}">Log In</a></li>
                                <li><a class="dropdown-item" href="{% url 'password_reset' %}">Reset My Password</a></li>

                            </ul>
                        </li>
                    </ul>
                    
                    {% endif %}
                </div>
            </div>
        </nav>                            

        {% block content %}

        {% endblock content %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/b6b2028919.js" 
                crossorigin="anonymous">
        </script>
    </body>

</html>