{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Flight Detail{% endblock title %}

{% block content %}
    <div class="container border border-success rounded py-1">
        {% if object_list.0 == NULL %}
            <h3>No Flight Records Found</h3>
            <h4>Select Pilot Actions - Create Flight</h4>
        {% else %}
        <h2 class="text-center">{{ object_list.0.pilot.first_name }} {{ object_list.0.pilot.last_name }}</h2>
        <h5 class="text-center">Last Login: {{ object_list.0.pilot.last_login }}</h5>
        <table class="table table-bordered border-dark">
            <thead>
                <tr>
                    <th scope="col" colspan="7" class="table-secondary border-dark">Forest Service Requirements</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="col" colspan="2" class="table-info border-dark">Minimum Annual Requirements (Hours:)</th>
                    <th scope="col" class="table-info text-center border-dark">Total</th>
                    <th scope="col" colspan="4" class="table-dark"></th>
                </tr>

                <tr>
                    <td class="table-light border-dark">Flight Time (12 months)</td>
                    <td class="table-light text-center border-dark">100</td>
                    {% if 12_mo < 100 %}
                        <td class="table-danger text-center border-dark">{{ 12_mo }}</td>
                    {% elif 12_mo < 120 %}
                        <td class="table-warning text-center border-dark">{{ 12_mo }}</td>
                    {% else %}
                        <td class="table-success text-center border-dark">{{ 12_mo }}</td>
                    {% endif %}
                    <td colspan="4" class="table-dark"></td>
                </tr>

                <tr>
                    <td class="table-light border-dark">Large Multi-Engine (12 months)</td>
                    <td class="table-light text-center border-dark">25</td>
                    {% if 12_mo_heavy < 25 %}
                        <td class="table-danger text-center border-dark">{{ 12_mo_heavy }}</td>
                    {% elif 12_mo_heavy < 30 %}
                        <td class="table-warning text-center border-dark">{{ 12_mo_heavy }}</td>
                    {% else %}
                        <td class="table-success text-center border-dark">{{ 12_mo_heavy }}</td>
                    {% endif %}
                    <td colspan = "4" class="table-dark"></td>
                </tr>

                <tr>
                    <th scope="col" colspan="3" class="table-info border-dark">Preceding 6 Calendar Months Requirements</th>
                    <th scope="col" colspan="2" class="table-info text-center border-dark">Last Accomplished</th>
                    <th scope="col" class="table-dark"></th>
                </tr>

                <tr>
                    <td class="table-light border-dark">Instrument Approaches</td>
                    <td class="table-light text-center border-dark">6</td>
                    {% if 6_mo_inst < 6 %}
                        <td class="table-danger text-center border-dark">{{ 6_mo_inst }}</td>
                        <td colspan="2" class="table-danger text-center border-dark">{{ latest_inst }}</td>
                    {% elif 6_mo_inst < 10 %}
                        <td class="table-warning text-center border-dark">{{ 6_mo_inst }}</td>
                        <td colspan="2" class="table-warning text-center border-dark">{{ latest_inst }}</td>
                    {% else %}
                        <td class="table-success text-center border-dark">{{ 6_mo_inst }}</td>
                        <td colspan="2" class="table-success text-center border-dark">{{ latest_inst }}</td>
                    {% endif %}
                    <td colspan="2" class="table-dark"></td>
                </tr>

                <tr>
                    <td class="table-light border-dark">Holding</td>
                    <td class="table-light text-center border-dark">1</td>
                    {% if 6_mo_holds < 1 %}
                        <td class="table-danger text-center border-dark">{{ 6_mo_holds }}</td>
                        <td colspan="2" class="table-danger text-center border-dark">{{ latest_hold }}</td>
                    {% elif 6_mo_holds < 2 %}
                        <td class="table-warning text-center border-dark">{{ 6_mo_holds }}</td>
                        <td colspan="2" class="table-warning text-center border-dark">{{ latest_hold }}</td>   
                    {% else %}
                        <td class="table-success text-center border-dark">{{ 6_mo_holds }}</td>
                        <td colspan="2" class="table-success text-center border-dark">{{ latest_hold }}</td>   
                    {% endif %}
                    <td colspan="2" class="table-dark"></td>                   
                </tr>

                <tr>
                    <th scope="col" colspan="2" class="table-info border-dark">Preceding 90 day Minimum Requirements</th>
                    <th scope="col" class="table-info text-center border-dark">SEL</th>
                    <th scope="col" class="table-info text-center border-dark">MEL</th>
                    <th scope="col" class="table-info text-center border-dark">Sherpa</th>
                    <th scope="col" class="table-info text-center border-dark">Last Accomplished</th>
                </tr>

                <tr>
                    <td class="table-light border-dark">Takeoffs/Landings</td>
                    <td class="table-light text-center border-dark">3</td>

                    {% if sel_landings > 5 %}
                        <td class="table-success text-center border-dark">{{ sel_landings }}</td>
                    {% elif sel_landings > 2 %}
                        <td class="table-warning text-center border-dark">{{ sel_landings }}</td>
                    {% else  %}
                        <td class="table-danger text-center border-dark">{{ sel_landings }}</td>  
                    {% endif %}

                    {% if mel_landings > 5 %}
                        <td class="table-success text-center border-dark">{{ mel_landings }}</td>
                    {% elif mel_landings > 2 %}
                        <td class="table-warning text-center border-dark">{{ mel_landings }}</td>
                    {% else %}
                        <td class="table-danger text-center border-dark">{{ mel_landings }}</td>  
                    {% endif %}   

                    {% if sherpa_landings > 5 %}
                        <td class="table-success text-center border-dark">{{ sherpa_landings }}</td>
                    {% elif sherpa_landings > 2 %}
                        <td class="table-warning text-center border-dark">{{ sherpa_landings }}</td>
                    {% else %}
                        <td class="table-danger text-center border-dark">{{ sherpa_landings }}</td> 
                    {% endif %}
                    
                    {% if crit_ldgs == 'sherpa' %}
                        {% if sherpa_landings > 5 %}
                            <td class="table-success text-center border-dark">SD3:&emsp;{{ last_sherpa_ldg }}</td>
                        {% elif sherpa_landings > 2 %}
                            <td class="table-warning text-center border-dark">SD3:&emsp;{{ last_sherpa_ldg }}</td>
                        {% else %}
                            <td class="table-danger text-center border-dark">SD3:&emsp;{{ last_sherpa_ldg }}</td>
                        {% endif %}
                    {% elif crit_ldgs == 'mel' %}
                        {% if mel_landings > 5 %}
                            <td class="table-success text-center border-dark">MEL:&emsp;{{ last_mel_ldg }}</td>
                        {% elif mel_landings > 2 %}
                            <td class="table-warning text-center border-dark">MEL:&emsp;{{ last_mel_ldg }}</td>
                        {% else %}
                            <td class="table-danger text-center border-dark">MEL:&emsp;{{ last_mel_ldg }}</td>
                        {% endif %}
                    {% elif crit_ldgs == 'sel' %}
                        {% if sel_landings > 5 %}
                            <td class="table-success text-center border-dark">SEL:&emsp;{{ last_sel_ldg }}</td>
                        {% elif sel_landings > 2 %}
                            <td class="table-warning text-center border-dark">SEL:&emsp;{{ last_sel_ldg }}</td>
                        {% else %}
                            <td class="table-danger text-center border-dark">SEL:&emsp;{{ last_sel_ldg }}</td>
                        {% endif %}
                    {% endif %}
                </tr>

                <tr>
                    <td class="table-light border-dark">Night Takeoffs/Landings</td>
                    <td class="table-light text-center border-dark">3</td>
                    <td class="table-secondary border-dark"></td>

                    {% if mel_nt_landings > 2 %}
                        <td class="table-success text-center border-dark">{{ mel_nt_landings }}</td>
                    {% else %}
                        <td class="table-danger text-center border-dark">{{ mel_nt_landings }}</td>  
                    {% endif %}  

                    {% if sherpa_nt_landings > 2 %}
                        <td class="table-success text-center border-dark">{{ sherpa_nt_landings }}</td>
                    {% else %}
                        <td class="table-danger text-center border-dark">{{ sherpa_nt_landings }}</td> 
                    {% endif %}

                    {% if crit_nt_ldgs == 'sherpa' %}
                        {% if sherpa_nt_landings > 2 %}
                            <td class="table-success text-center border-dark">SD3:&emsp;{{ last_sherpa_nt_ldg }}</td>
                        {% else %}
                            <td class="table-danger text-center border-dark">SD3:&emsp;{{ last_sherpa_nt_ldg }}</td>
                        {% endif %}
                    {% elif crit_nt_ldgs == 'mel' %}
                        {% if mel_nt_landings > 2 %}
                            <td class="table-success text-center border-dark">MEL:&emsp;{{ last_mel_nt_ldg }}</td>
                        {% else %}
                            <td class="table-danger text-center border-dark">MEL:&emsp;{{ last_mel_nt_ldg }}</td>
                        {% endif %}
                    {% endif %}
                </tr>

                <tr>
                    <td class="table-light border-dark">Hours</td>
                    <td class="table-light text-center border-dark">1</td>

                    {% if sel_90_tt > 5 %}
                        <td class="table-success text-center border-dark">{{ sel_90_tt }}</td>
                    {% elif sel_90_tt > 0 %}
                        <td class="table-warning text-center border-dark">{{ sel_90_tt }}</td>
                    {% else %}
                        <td class="table-danger text-center border-dark">{{ sel_90_tt }}</td>
                    {% endif %}

                    {% if mel_90_tt > 5 %}
                        <td class="table-success text-center border-dark">{{ mel_90_tt }}</td>
                    {% elif mel_90_tt > 0 %}
                        <td class="table-warning text-center border-dark">{{ mel_90_tt }}</td>
                    {% else %}
                        <td class="table-danger text-center border-dark">{{ mel_90_tt }}</td>
                    {% endif %}

                    {% if sherpa_90_tt > 5 %}
                        <td class="table-success text-center border-dark">{{ sherpa_90_tt }}</td>
                    {% elif sherpa_90_tt > 0 %}
                        <td class="table-warning text-center border-dark">{{ sherpa_90_tt }}</td>
                    {% else %}
                        <td class="table-danger text-center border-dark">{{ sherpa_90_tt }}</td>
                    {% endif %}

                    {% if crit_90_tt == 'sherpa' %}
                        {% if sherpa_90_tt > 5 %}
                            <td class="table-success text-center border-dark">SD3:&emsp;{{ last_sherpa_flt }}</td>
                        {% elif sherpa_90_tt > 0 %}
                            <td class="table-warning text-center border-dark">SD3:&emsp;{{ last_sherpa_flt }}</td>
                        {% else %}
                            <td class="table-danger text-center border-dark">SD3:&emsp;{{ last_sherpa_flt }}</td>
                        {% endif %}
                    {% elif crit_90_tt == 'mel' %}
                        {% if mel_90_tt > 5 %}
                            <td class="table-success text-center border-dark">MEL:&emsp;{{ last_mel_flt }}</td>
                        {% elif mel_90_tt > 0 %}
                            <td class="table-warning text-center border-dark">MEL:&emsp;{{ last_mel_flt }}</td>
                        {% else %}
                            <td class="table-danger text-center border-dark">MEL:&emsp;{{ last_mel_flt }}</td>
                        {% endif %}
                    {% elif crit_90_tt == 'sel' %}
                        {% if sel_landings > 5 %}
                            <td class="table-success text-center border-dark">SEL:&emsp;{{ last_sel_flt }}</td>
                        {% elif sel_landings > 0 %}
                            <td class="table-warning text-center border-dark">SEL:&emsp;{{ last_sel_flt }}</td>
                        {% else %}
                            <td class="table-danger text-center border-dark">SEL:&emsp;{{ last_sel_flt }}</td>
                        {% endif %}
                    {% endif %}
                </tr>
            </tbody>
        </table>
        {% if object_list.0.pilot.id != user.id %}
        <div class="d-flex justify-content-evenly py-3">
            <input type="button" value="Go Back" class="btn cancel_btn" onclick="history.back()">
        </div>
        {% endif %}
        {% endif %}
    </div>
{% endblock content %}