{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Available Reports{% endblock title %}

{% block additional_styles %}
    <style>
        body {
            background-image: url(/static/img/montana.jpg);
        }
    </style>
    {% endblock %}

{% block content %}
<div class="container border border-success rounded py-1">
    <h2 class="text-center">Select a Report</h2>
    <table class="table">
        <tr>
            <td><a href="{% url 'twelve_months' %}"><img src="/static/img/TT-logo-50.jpg" class="img-thumbnail" alt=""> - Total Time Sum</a></td>
            <td><a href="{% url 'num_msns' %}"><img src="/static/img/Msn-logo-50.jpg" class="img-thumbnail" alt=""> - Number of Missions Flown</a></td>
        </tr>
        </table>
</div>
{% endblock content %}