{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Flight Detail{% endblock title %}

{% block additional_styles %}
    <style>
        body {
            background-image: url(/static/img/montana.jpg);
        }
    </style>
    {% endblock %}

{% block content %}
<div class="container border border-success rounded py-1">
<h2 class="text-center">{{ user.first_name }}'s Flight History</h2>
<form action="" method="GET">
    {% csrf_token %}
    <label for="start_date" class="form-label">Start Date:</label> 
    <input type="date" id="start_date" name="start_date" value="{{ earliest_filtered|date:'Y-m-d'}}">&nbsp;&nbsp;
    <label for="end_date" class="form-label">End Date:</label> 
    <input type="date" id="end_date" name="end_date" value="{{ latest_filtered|date:'Y-m-d' }}"><br>
    <p>Earliest record: {{ earliest|date:"m/d/Y" }}&nbsp;&nbsp;&nbsp;Latest Record: {{ latest|date:"m/d/Y" }}</p>
    <button class="btn submit_btn" type="submit">Filter</button>&nbsp;&nbsp;
    <button class="btn cancel_btn" type="button" onclick="location.href='{% url 'flight_list' %}'">Reset Filter</button>
</form>
<table class="table mt-3">
    <thead style="position: sticky;top: 0" class="thead-fs">
        <tr class="table-fs">
            <th scope="col">Date</th>
            <th scope="col">Tail #</th>
            <th scope="col">Dep</th>
            <th scope="col">Arr</th>
            <th scope="col">Mission</th>
            <th scope="col">PIC</th>
            <th scope="col">SIC</th>
            <th scope="col">IP</th>
            <th scope="col">Total</th>
            <th scope="col">Act Intsm</th>
            <th scope="col">Sim Instm</th>
            <th scope="col">Instm App</th>
            <th scope="col">Holds</th>
            <th scope="col">Day Ldg</th>
            <th scope="col">Nt Time</th>
            <th scope="col">Nt Ldg</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for flight in object_list %}

        <tr class="table-success border border-secondary">
            <th scope="row" class="border border-secondary">{{ flight.date_of_flight|date:"n/j/y" }}</th>
            <td class="border border-secondary">{{ flight.tail_number.tail_number }}<br>{{ flight.tail_number.aircraft_type }}</td>
            <td class="border border-secondary">{{ flight.depart_ICAO }}</td>
            <td class="border border-secondary">{{ flight.arrival_ICAO }}</td>
            <td class="border border-secondary">{{ flight.msn_type }}</td>
            <td class="border border-secondary">{{ flight.pic_time }}</td>
            <td class="border border-secondary">{{ flight.sic_time }}</td>
            <td class="border border-secondary">{{ flight.instructor_time }}</td>
            <td class="border border-secondary">{{ flight.total_time }}</td>
            <td class="border border-secondary">{{ flight.act_instrument_time }}</td>
            <td class="border border-secondary">{{ flight.sim_instrument_time }}</td>
            <td class="border border-secondary">{{ flight.instrument_appchs }}</td>
            <td class="border border-secondary">{{ flight.holds }}</td>
            <td class="border border-secondary">{{ flight.day_landings }}</td>
            <td class="border border-secondary">{{ flight.night_time }}</td>
            <td class="border border-secondary">{{ flight.night_landings }}</td>
            <td class="border border-secondary">
                <a class="fas fa-edit" href="{% url 'flight_edit' flight.id  %}"></a><br>
                <a class="fas fa-trash-alt" href="{% url 'flight_delete' flight.id %}"></i></td>
        </tr>
        <tr class="table-success border border-secondary">
            <td colspan = "17" class="text-start"><b>Remarks:</b>  {{ flight.remarks }}</td>
        </tr>
        <tr class="table-fs-break border border-secondary"><td colspan = "17"></td></tr>

        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}